{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% import _self as helper %}

{% block toolbar %}
    {% if collector.messages|length %}
        {% set icon %}
            {{ include('@WebProfiler/Icon/translation.svg') }}
            {% set status_color = collector.countNewWithoutTranslation ? 'red' : collector.countNewFromFallback  ? 'yellow' %}
            {% set error_count = collector.countNewWithoutTranslation + collector.countNewFromFallback %}
            <span class="sf-toolbar-value">{{ error_count ?: error_count }}</span>
        {% endset %}

        {% set text %}
            <div class="sf-toolbar-info-piece">
                <b>New messages without translation</b>
                <span class="sf-toolbar-status sf-toolbar-status-{{ collector.countNewWithoutTranslation ? 'red' }}">
                    {{ collector.countNewWithoutTranslation }}
                </span>
            </div>

            <div class="sf-toolbar-info-piece">
                <b>New messages from fallback</b>
                <span class="sf-toolbar-status sf-toolbar-status-{{ collector.countNewFromFallback ? 'yellow' }}">
                    {{ collector.countNewFromFallback }}
                </span>
            </div>
        {% endset %}

        {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: profiler_url, status: status_color }) }}
    {% endif %}
{% endblock %}

{% block menu %}
    <span class="label label-status-{{ collector.countNewWithoutTranslation ? 'error' : collector.countNewFromFallback ? 'warning' }} {{ collector.messages is empty ? 'disabled' }}">
        <span class="icon">{{ include('@WebProfiler/Icon/translation.svg') }}</span>
        <strong>Translator Tool</strong>
        {% if collector.countNewWithoutTranslation or collector.countNewFromFallback %}
            {% set error_count = collector.countNewWithoutTranslation + collector.countNewFromFallback %}
            <span class="count">
                <span>{{ error_count }}</span>
            </span>
        {% endif %}
    </span>
{% endblock %}

{% block panel %}
    {% if collector.messages is empty %}
        <h2>Translator Tool</h2>
        <div class="empty">
            <p>No translations have been called.</p>
        </div>
    {% else %}
        {{ block('panelContent') }}
    {% endif %}
{% endblock %}

{% block panelContent %}
    <h2>Translation Messages</h2>

    {# sort translation messages in groups #}
    {% set messages_defined, messages_missing, messages_fallback, messages_new = [], [], [], [] %}
    {% for message in collector.messages %}
        {% if message.state == constant('Symfony\\Component\\Translation\\DataCollectorTranslator::MESSAGE_DEFINED') %}
            {% set messages_defined = messages_defined|merge([message]) %}
        {% elseif message.state == constant('Symfony\\Component\\Translation\\DataCollectorTranslator::MESSAGE_EQUALS_FALLBACK') %}
            {% set messages_defined = messages_fallback|merge([message]) %}
        {% elseif message.state == constant('AECF\\TranslatorToolBundle\\Service\\TranslatorToolService::MESSAGE_NEW_WITHOUT_TRANSLATION') %}
            {% set messages_new = messages_new|merge([message]) %}
        {% elseif message.state == constant('AECF\\TranslatorToolBundle\\Service\\TranslatorToolService::MESSAGE_NEW_FROM_FALLBACK') %}
            {% set messages_new = messages_new|merge([message]) %}
        {% endif %}
    {% endfor %}

    <div class="sf-tabs">
         <div class="tab">
            <h3 class="tab-title">New <span class="badge">{{ messages_new|length }}</span></h3>

            <div class="tab-content">
                <p class="help">
                    These messages was not available for the given locale
                     but it was automatically add to the translation
                    catalogue by TranslatorToolBundle in app/Ressources/translations.<br>
                    <strong>You can edit message by clicking on it in the "Message preview" column.</strong>
                </p>

                {% if messages_new is empty %}
                    <div class="empty">
                        <p>There are no messages of this category.</p>
                    </div>
                {% else %}
                    {{ helper.render_table(messages_new) }}
                {% endif %}
            </div>
        </div>

        <div class="tab">
            <h3 class="tab-title">Defined <span class="badge">{{ messages_defined|length }}</span></h3>

            <div class="tab-content">
                <p class="help">
                    These messages are correctly translated into the given locale.
                </p>

                {% if messages_defined is empty %}
                    <div class="empty">
                        <p>None of the used translation messages are defined for the given locale.</p>
                    </div>
                {% else %}
                    {{ helper.render_table(messages_defined) }}
                {% endif %}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        // Get translation span
        var translations = document.querySelectorAll("[class=aecf-translation]");

        // For each translation add event listener on click for display input and send edit translation
        for (var i = 0; i < translations.length; i++) {
            translations[i].addEventListener("click", function(event) {
                // Hide span block
                event.srcElement.style.display = 'none';

                // Show input element
                event.srcElement.nextElementSibling.style.display = 'block';

                // Event on focus out
                event.srcElement.nextElementSibling.addEventListener("focusout", function(event) {
                    // Construct Ajax Request
                    var xhttp = new XMLHttpRequest(),
                            id = event.srcElement.getAttribute('id'),
                            translation = event.srcElement.value,
                            domain = event.srcElement.getAttribute('data-domain');

                    xhttp.open("POST", "{{ path('aecf_translatortool_default_edit') }}", true);
                    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                    xhttp.send("id=" + id + "&translation=" + translation + "&domain=" + domain);

                    // Callback Ajax Request Complete
                    xhttp.onreadystatechange = function() {
                        if (xhttp.readyState == 4) {
                            if (xhttp.status == 200) {
                                var res = JSON.parse(xhttp.response).params;

                                // Check response consistency
                                if (res.id == id && res.translation == translation && res.domain == domain) {
                                    // Hide input element
                                    event.srcElement.style.display = 'none';

                                    // Show span block
                                    event.srcElement.previousElementSibling.style.display = 'block';
                                    event.srcElement.previousElementSibling.textContent = res.translation;
                                } else {
                                    alert('An error occured. Please retry.');
                                }
                            } else {
                                alert('An error occured. Please retry.');
                            }
                        }
                    } // xhttp-onreadystatechange
                }); // event-focusout
            });
        }
    </script>
{% endblock %}

{% macro render_table(messages, edition) %}
    <table>
        <thead>
            <tr>
                <th>Locale</th>
                <th>Domain</th>
                <th>Times used</th>
                <th>Message ID</th>
                <th>Message Preview</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td class="font-normal text-small">{{ message.locale }}</td>
                <td class="font-normal text-small text-bold">{{ message.domain }}</td>
                <td class="font-normal text-small">{{ message.count }}</td>
                <td>
                    {{ message.id }}

                    {% if message.transChoiceNumber is defined and message.transChoiceNumber is not null %}
                        <small class="newline">(pluralization is used)</small>
                    {% endif %}

                    {% if message.parameters is defined and message.parameters|length > 0 %}
                        <a class="newline text-small sf-toggle" data-toggle-selector="#parameters-{{ loop.index }}" data-toggle-alt-content="Hide parameters">Show parameters</a>

                        <div id="parameters-{{ loop.index }}" class="hidden">
                            {% for parameters in message.parameters %}
                                {{ profiler_dump(parameters) }}
                                {% if not loop.last %}<br />{% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </td>
                <td>
                    <span class="aecf-translation" style="cursor: pointer">{{ message.translation }}</span>
                    <input type="text" value="{{ message.translation }}" name="{{ message.id }}" id="{{ message.id }}" data-domain="{{ message.domain }}" style="display:none" />
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}
